# Input Data, Variables, and Parameters

In [274]:
import numpy as np
import os
import pandas as pd
import arcpy

# Import the required ArcGIS API for Python modules
import arcgis
from arcgis.gis import GIS
gis = arcgis.GIS()
from arcgis.geoanalytics import manage_data

from IPython.display import display, Markdown

In [275]:
dirWork         = os.getcwd()
dirInput        = os.path.join(dirWork, r'input'       )
dirIntermediate = os.path.join(dirWork, r'intermediate')
dirResults      = os.path.join(dirWork, r'results'     )
dirParams       = os.path.join(dirWork, r'params'      )

sStationCol     = 'STATION'
sDayCol         = 'DAY'
sDOWCol         = 'DOW'
sMonthCol       = 'MONTH'
sYearCol        = 'YEAR'
sYearGrpCol     = 'YEARGROUP'
sSeasonGrpCol   = 'SEASONGROUP'
sMonthADTCol    = 'MONTHADT'
sMonthDOWADTCol = 'MONTHDOWADT'
sYearADTCol     = 'YEARADT'
sStationGrpCol  = 'STATIONGROUP'
sDOWGrpCol      = 'DOWGROUP'
sDOWFieldName   = 'DOWFLDNM'
sSGFieldName    = 'SGFLDNM'

In [276]:
#read parameter tables
#csv: , parse_dates=['DATEFROM','DATETO']
prmDOWToDayGroups         = pd.read_csv(os.path.join(dirParams, r'dow_to_dow_groups.csv'        ))
prmMonthToSeasonGroups    = pd.read_csv(os.path.join(dirParams, r'month_to_season_groups.csv'   ))
prmYearToYearGroups       = pd.read_csv(os.path.join(dirParams, r'year_to_year_groups.csv'      ))
prmGeographies            = pd.read_csv(os.path.join(dirParams, r'geographies.csv'              ))
prmStationToStationGroups = pd.read_csv(os.path.join(dirParams, r'station_to_station_groups.csv'))
prmDOWFactorsMaxMin       = pd.read_csv(os.path.join(dirParams, r'dow_factors_maxmin.csv'       ))

prmFieldNamesSeasonGroup   = pd.read_csv(os.path.join(dirParams, r'season_group_field_names.csv'))
prmFieldNamesDOWGroup      = pd.read_csv(os.path.join(dirParams, r'dow_group_field_names.csv'   ))

In [277]:
#read processed data
dfMonthADT    = pd.read_csv(os.path.join(dirIntermediate, r'MonthADT.csv'))
dfMonthDOWADT = pd.read_csv(os.path.join(dirIntermediate, r'MonthDOWADT.csv'))
dfYearADT     = pd.read_csv(os.path.join(dirIntermediate, r'YearADT.csv'))

# Year Group ADTs

In [278]:
#calculate year adt for each grouping
dfYearGroupADTs = pd.DataFrame.merge(dfYearADT,prmYearToYearGroups,on=(sYearCol))
dfYearGroupADTs = pd.DataFrame.merge(dfYearGroupADTs,prmStationToStationGroups,on=(sStationCol))
dfYearGroupADTs = dfYearGroupADTs.groupby([sStationGrpCol,sYearGrpCol],as_index=False).agg(AVGYEARADT=(sYearADTCol,'mean'))
dfYearGroupADTs

     STATIONGROUP  YEARGROUP    AVGYEARADT
0             301       2013  49525.395238
1             301  2013-2017  54698.437659
2             301       2014  51804.412302
3             301       2015  54572.420833
4             301  2015-2019  68778.339931
...           ...        ...           ...
1658          WDK  2015-2019  29111.820288
1659          WDK       2016  23810.038690
1660          WDK       2018  44681.177381
1661          WDK       2019  25268.902381
1662          WDK  All Years  27495.420397

[1663 rows x 3 columns]

# Season Factors

In [279]:
#calculate month adt for each grouping
dfSeasonGroupADTs = pd.DataFrame.merge(dfMonthADT,prmMonthToSeasonGroups,on=(sMonthCol))
dfSeasonGroupADTs = pd.DataFrame.merge(dfSeasonGroupADTs,prmYearToYearGroups,on=(sYearCol))
dfSeasonGroupADTs = pd.DataFrame.merge(dfSeasonGroupADTs,prmStationToStationGroups,on=(sStationCol))
dfSeasonGroupADTs = dfSeasonGroupADTs.groupby([sStationGrpCol,sSeasonGrpCol,sYearGrpCol],as_index=False).agg(AVGMONTHADT=(sMonthADTCol,'mean'))
dfSeasonGroupADTs

      STATIONGROUP SEASONGROUP  YEARGROUP   AVGMONTHADT
0              301     M01-Jan       2013  44843.840476
1              301     M01-Jan  2013-2017  52119.840476
2              301     M01-Jan       2014  51059.159524
3              301     M01-Jan       2015  51268.092857
4              301     M01-Jan  2015-2019  69276.081548
...            ...         ...        ...           ...
28266          WDK        Year  2015-2019  29111.820288
28267          WDK        Year       2016  23810.038690
28268          WDK        Year       2018  44681.177381
28269          WDK        Year       2019  25268.902381
28270          WDK        Year  All Years  27495.420397

[28271 rows x 4 columns]

In [280]:
dfSeasonFactors = pd.DataFrame.merge(dfSeasonGroupADTs,dfYearGroupADTs,on=(sStationGrpCol,sYearGrpCol))
dfSeasonFactors['SEASONFACTOR'] = dfSeasonFactors['AVGMONTHADT'] / dfSeasonFactors['AVGYEARADT'] 
dfSeasonFactors

,STATIONGROUP,SEASONGROUP,YEARGROUP,AVGMONTHADT,AVGYEARADT,SEASONFACTOR
0,301,M01-Jan,2013,44843.840476,49525.395238,0.905472
1,301,M02-Feb,2013,45251.178571,49525.395238,0.913696
2,301,M03-Mar,2013,46548.835714,49525.395238,0.939898
3,301,M04-Apr,2013,42423.921429,49525.395238,0.856609
4,301,M05-May,2013,43828.209524,49525.395238,0.884964
...,...,...,...,...,...,...
28266,WDK,S01-Winter,All Years,24884.365397,27495.420397,0.905037
28267,WDK,S02-Spring,All Years,26768.169048,27495.420397,0.973550
28268,WDK,S03-Summer,All Years,32956.657778,27495.420397,1.198624
28269,WDK,S04-Fall,All Years,25372.489365,27495.420397,0.922790
28270,WDK,Year,All Years,27495.420397,27495.420397,1.000000

In [281]:
#get field names
dfSeasonFactors_to_pivot = pd.DataFrame.merge(dfSeasonFactors, prmFieldNamesSeasonGroup, on=sSeasonGrpCol)
dfSeasonFactors_pivot = pd.pivot(dfSeasonFactors_to_pivot, values='SEASONFACTOR',
                                 columns=[sSGFieldName], index=(sStationGrpCol,sYearGrpCol))
dfSeasonFactors_pivot.reset_index(inplace=True)
dfSeasonFactors_pivot

SGFLDNM,STATIONGROUP,YEARGROUP,FAC_APR,FAC_AUG,FAC_DEC,FAC_FAL,FAC_FEB,FAC_JAN,FAC_JUL,FAC_JUN,FAC_MAR,FAC_MAY,FAC_NOV,FAC_OCT,FAC_SEP,FAC_SPR,FAC_SUM,FAC_WIN
0,301,2013,0.856609,1.247890,0.943734,1.021841,0.913696,0.905472,1.235822,1.006390,0.939898,0.884964,0.927773,1.052842,1.084910,0.893824,1.163367,0.920967
1,301,2013-2017,0.879362,1.170627,0.941946,0.982606,0.940872,0.952858,1.185596,1.088360,0.957367,0.935194,0.903877,0.991546,1.052394,0.923974,1.148194,0.945225
2,301,2014,0.895640,1.154043,0.929456,0.957901,0.949760,0.985614,1.162994,1.112795,0.971413,0.964581,0.876194,0.981036,1.016474,0.943878,1.143277,0.954943
3,301,2015,0.857640,1.163069,0.962133,0.998845,0.925355,0.939451,1.184390,1.112329,0.946168,0.912928,0.941765,0.986710,1.068061,0.905579,1.153263,0.942313
4,301,2015-2019,0.921711,1.211785,0.792184,0.896728,0.983162,1.007237,1.241566,1.162355,0.994872,0.994946,0.757538,0.818973,1.113672,0.970509,1.205235,0.927528
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1658,WDK,2015-2019,0.944029,1.166454,0.795170,0.912065,0.946177,0.963394,1.256597,1.190615,0.971710,1.029660,0.766637,0.830517,1.139039,0.981800,1.204555,0.901580
1659,WDK,2016,0.892163,1.164160,0.946791,0.999277,0.927926,0.907464,1.165954,1.107966,0.922603,0.967141,0.917876,0.989530,1.090424,0.927303,1.146027,0.927394
1660,WDK,2018,1.022353,1.321503,0.535631,0.762529,1.000721,1.030067,1.341050,1.291971,1.040693,1.128423,0.514523,0.549703,1.223362,1.063823,1.318175,0.855473
1661,WDK,2019,0.907910,0.904647,0.985203,1.005462,0.908734,0.952751,1.251036,1.143054,0.937676,0.992605,0.934565,1.012806,1.069014,0.946063,1.099579,0.948896
1662,WDK,All Years,0.936669,1.169865,0.819393,0.922790,0.937600,0.958117,1.245513,1.180493,0.963103,1.020878,0.787605,0.858195,1.122569,0.973550,1.198624,0.905037

# Max Month Factor

In [282]:
prmMonthToSeasonGroups_justMonths = prmMonthToSeasonGroups[prmMonthToSeasonGroups['SGTYPE']=='Month']
prmMonthToSeasonGroups_justMonths

    MONTH SEASONGROUP SGTYPE
0       1     M01-Jan  Month
1       2     M02-Feb  Month
2       3     M03-Mar  Month
3       4     M04-Apr  Month
4       5     M05-May  Month
5       6     M06-Jun  Month
6       7     M07-Jul  Month
7       8     M08-Aug  Month
8       9     M09-Sep  Month
9      10     M10-Oct  Month
10     11     M11-Nov  Month
11     12     M12-Dec  Month

In [283]:
dfMaxMonthFactor = pd.DataFrame.merge(dfSeasonFactors,prmMonthToSeasonGroups_justMonths,on=sSeasonGrpCol)
dfMaxMonthFactorMax = dfMaxMonthFactor.groupby([sStationGrpCol,sYearGrpCol],as_index=False).agg(FAC_MAX=('SEASONFACTOR','max'))
dfMaxMonthFactorMax

     STATIONGROUP  YEARGROUP   FAC_MAX
0             301       2013  1.247890
1             301  2013-2017  1.185596
2             301       2014  1.162994
3             301       2015  1.184390
4             301  2015-2019  1.241566
...           ...        ...       ...
1658          WDK  2015-2019  1.256597
1659          WDK       2016  1.165954
1660          WDK       2018  1.341050
1661          WDK       2019  1.251036
1662          WDK  All Years  1.245513

[1663 rows x 3 columns]

In [295]:
dfMaxMonthFactorMo = pd.DataFrame.merge(dfSeasonFactors,dfMaxMonthFactorMax,left_on=(sStationGrpCol,sYearGrpCol,'SEASONFACTOR'),right_on=(sStationGrpCol,sYearGrpCol,'FAC_MAX'))
dfMaxMonthFactorMo = pd.DataFrame.merge(dfMaxMonthFactorMo,prmMonthToSeasonGroups_justMonths,on=(sSeasonGrpCol))
dfMaxMonthFactorMo = dfMaxMonthFactorMo[[sStationGrpCol,sYearGrpCol,'MONTH','FAC_MAX']]
dfMaxMonthFactorMo = dfMaxMonthFactorMo.rename(columns={'MONTH':'FAC_MAXMO'})
dfMaxMonthFactorMo
#dfMaxMonthFactorMo[dfMaxMonthFactorMo[sStationGrpCol]=='301']

     STATIONGROUP  YEARGROUP  FAC_MAXMO   FAC_MAX
0             301       2013          8  1.247890
1             302       2014          8  1.049089
2             302       2017          8  1.063781
3             305       2013          8  1.153057
4             305       2016          8  1.154023
...           ...        ...        ...       ...
1658          SNV  2013-2017          3  1.042907
1659          U70       2013          3  1.055900
1660          U70  2013-2017          3  1.042907
1661          WD3       2013          3  1.030137
1662          WD3       2015          3  1.026303

[1663 rows x 4 columns]

# DOW Factors

In [285]:
dfMonthDOWGroupADTs = pd.DataFrame.merge(dfMonthDOWADT,prmDOWToDayGroups,on=(sDOWCol))
dfMonthDOWGroupADTs = dfMonthDOWGroupADTs.groupby([sStationCol,sYearCol,sMonthCol,sDOWGroupCol],as_index=False).agg(MONTHDOWGROUPADT=(sMonthDOWADTCol,'mean'))
dfMonthDOWGroupADTs

       STATION  YEAR  MONTH           DOWGROUP  MONTHDOWGROUPADT
0          301  2013      1  1-Weekday (Mo-Th)      45192.783333
1          301  2013      1  2-Weekend (Fr-Su)      44378.583333
2          301  2013      1          D1-Monday      41221.333333
3          301  2013      1         D2-Tuesday      44297.000000
4          301  2013      1       D3-Wednesday      47701.400000
...        ...   ...    ...                ...               ...
75163      714  2019     12       D3-Wednesday       3636.666667
75164      714  2019     12        D4-Thursday       3517.750000
75165      714  2019     12          D5-Friday       3612.000000
75166      714  2019     12        D6-Saturday       2618.750000
75167      714  2019     12          D7-Sunday       2349.400000

[75168 rows x 5 columns]

In [286]:
#calculate month adt for each grouping
dfSeasonGroupDOWADTs = pd.DataFrame.merge(dfMonthDOWGroupADTs,prmMonthToSeasonGroups,on=(sMonthCol))
dfSeasonGroupDOWADTs = pd.DataFrame.merge(dfSeasonGroupDOWADTs,prmYearToYearGroups,on=(sYearCol))
dfSeasonGroupDOWADTs = pd.DataFrame.merge(dfSeasonGroupDOWADTs,prmStationToStationGroups,on=(sStationCol))
dfSeasonGroupDOWADTs = dfSeasonGroupDOWADTs.groupby([sStationGrpCol,sSeasonGrpCol,sYearGrpCol,sDOWGroupCol],as_index=False).agg(AVGMONTHDOWADT=('MONTHDOWGROUPADT','mean'))
dfSeasonGroupDOWADTs

       STATIONGROUP SEASONGROUP  YEARGROUP           DOWGROUP  AVGMONTHDOWADT
0               301     M01-Jan       2013  1-Weekday (Mo-Th)    45192.783333
1               301     M01-Jan       2013  2-Weekend (Fr-Su)    44378.583333
2               301     M01-Jan       2013          D1-Monday    41221.333333
3               301     M01-Jan       2013         D2-Tuesday    44297.000000
4               301     M01-Jan       2013       D3-Wednesday    47701.400000
...             ...         ...        ...                ...             ...
254434          WDK        Year  All Years       D3-Wednesday    27909.193333
254435          WDK        Year  All Years        D4-Thursday    28934.516111
254436          WDK        Year  All Years          D5-Friday    32115.326944
254437          WDK        Year  All Years        D6-Saturday    28112.927778
254438          WDK        Year  All Years          D7-Sunday    21106.510000

[254439 rows x 5 columns]

In [287]:
dfSeasonGroupDOWFactors = pd.DataFrame.merge(dfSeasonGroupDOWADTs,dfYearGroupADTs,on=(sStationGrpCol,sYearGrpCol))
dfSeasonGroupDOWFactors['DOWFACTOR'] = dfSeasonGroupDOWFactors['AVGMONTHDOWADT'] / dfSeasonGroupDOWFactors['AVGYEARADT']
dfSeasonGroupDOWFactors

,STATIONGROUP,SEASONGROUP,YEARGROUP,DOWGROUP,AVGMONTHDOWADT,AVGYEARADT,DOWFACTOR
0,301,M01-Jan,2013,1-Weekday (Mo-Th),45192.783333,49525.395238,0.912517
1,301,M01-Jan,2013,2-Weekend (Fr-Su),44378.583333,49525.395238,0.896077
2,301,M01-Jan,2013,D1-Monday,41221.333333,49525.395238,0.832327
3,301,M01-Jan,2013,D2-Tuesday,44297.000000,49525.395238,0.894430
4,301,M01-Jan,2013,D3-Wednesday,47701.400000,49525.395238,0.963171
...,...,...,...,...,...,...,...
254434,WDK,Year,All Years,D3-Wednesday,27909.193333,27495.420397,1.015049
254435,WDK,Year,All Years,D4-Thursday,28934.516111,27495.420397,1.052339
254436,WDK,Year,All Years,D5-Friday,32115.326944,27495.420397,1.168025
254437,WDK,Year,All Years,D6-Saturday,28112.927778,27495.420397,1.022459
254438,WDK,Year,All Years,D7-Sunday,21106.510000,27495.420397,0.767637

In [288]:
#only use DOW factors for year, so that factors are additive to season factors
dfSeasonGroupDOWFactors_year = dfSeasonGroupDOWFactors[dfSeasonGroupDOWFactors[sSeasonGrpCol]=='Year']
dfSeasonGroupDOWFactors_year = pd.DataFrame.merge(dfSeasonGroupDOWFactors_year,prmFieldNamesDOWGroup,on=sDOWGrpCol)

dfSeasonGroupDOWFactors_pivot = pd.pivot(dfSeasonGroupDOWFactors_topivot, values='DOWFACTOR',
                    columns=[sDOWFieldName], index=(sStationGrpCol,sYearGrpCol))
dfSeasonGroupDOWFactors_pivot.reset_index(inplace=True)
dfSeasonGroupDOWFactors_pivot

DOWFLDNM,STATIONGROUP,YEARGROUP,FAC_WDAVG,FAC_WEAVG,FAC_FRI,FAC_MON,FAC_SAT,FAC_SUN,FAC_THU,FAC_TUE,FAC_WED
0,301,2013,0.999135,1.001153,1.133317,0.969939,1.028685,0.841457,1.039224,0.971846,1.015532
1,301,2013-2017,1.003225,0.995701,1.137344,0.956685,1.022562,0.827195,1.050988,0.985336,1.019889
2,301,2014,1.002195,0.997074,1.143866,0.958225,1.038396,0.808959,1.052698,0.984078,1.013778
3,301,2015,0.999633,1.000489,1.142245,0.950241,1.027460,0.831763,1.059724,0.976009,1.012558
4,301,2015-2019,1.005531,0.992626,1.135362,0.958380,1.011826,0.830689,1.055705,0.985244,1.022794
...,...,...,...,...,...,...,...,...,...,...,...
1658,WDK,2015-2019,1.012283,0.983623,1.166837,0.975893,1.017045,0.766987,1.053323,1.002990,1.016924
1659,WDK,2016,1.009584,0.987222,1.168849,0.960808,1.027354,0.765462,1.051092,1.004077,1.022357
1660,WDK,2018,1.014701,0.980398,1.161464,0.985875,1.010341,0.769389,1.047983,1.000742,1.024206
1661,WDK,2019,1.019225,0.974367,1.162774,0.990374,1.005617,0.754710,1.059386,1.021726,1.005412
1662,WDK,All Years,1.010470,0.986040,1.168025,0.973949,1.022459,0.767637,1.052339,1.000542,1.015049

# Max and Min of DOWFactors

In [289]:
dfSeasonGroupDOWFactorsMax = pd.DataFrame.merge(dfSeasonGroupDOWFactors_year,prmDOWFactorsMaxMin,on='DOWGROUP')
dfSeasonGroupDOWFactorsMax = dfSeasonGroupDOWFactorsMax[dfSeasonGroupDOWFactorsMax['MAXMIN']=='max']
dfSeasonGroupDOWFactorsMax = dfSeasonGroupDOWFactorsMax.groupby([sStationGrpCol,sSeasonGrpCol,sYearGrpCol,'DOWMAXMINGROUP','MAXMIN'],as_index=False).agg(MINMAXDOWFACTOR=('DOWFACTOR','max'))
dfSeasonGroupDOWFactorsMax
dfSeasonGroupDOWFactorsMax

,STATIONGROUP,SEASONGROUP,YEARGROUP,DOWMAXMINGROUP,MAXMIN,MINMAXDOWFACTOR
0,301,Year,2013,FAC_WEMAX,max,1.133317
1,301,Year,2013-2017,FAC_WEMAX,max,1.137344
2,301,Year,2014,FAC_WEMAX,max,1.143866
3,301,Year,2015,FAC_WEMAX,max,1.142245
4,301,Year,2015-2019,FAC_WEMAX,max,1.135362
...,...,...,...,...,...,...
1658,WDK,Year,2015-2019,FAC_WEMAX,max,1.166837
1659,WDK,Year,2016,FAC_WEMAX,max,1.168849
1660,WDK,Year,2018,FAC_WEMAX,max,1.161464
1661,WDK,Year,2019,FAC_WEMAX,max,1.162774
1662,WDK,Year,All Years,FAC_WEMAX,max,1.168025

In [290]:
dfSeasonGroupDOWFactorsMin = pd.DataFrame.merge(dfSeasonGroupDOWFactors_year,prmDOWFactorsMaxMin,on='DOWGROUP')
dfSeasonGroupDOWFactorsMin = dfSeasonGroupDOWFactorsMin[dfSeasonGroupDOWFactorsMin['MAXMIN']=='min']
dfSeasonGroupDOWFactorsMin = dfSeasonGroupDOWFactorsMin.groupby([sStationGrpCol,sSeasonGrpCol,sYearGrpCol,'DOWMAXMINGROUP','MAXMIN'],as_index=False).agg(MINMAXDOWFACTOR=('DOWFACTOR','min'))
dfSeasonGroupDOWFactorsMin

Empty DataFrame
Columns: [STATIONGROUP, SEASONGROUP, YEARGROUP, DOWMAXMINGROUP, MAXMIN, MINMAXDOWFACTOR]
Index: []

In [291]:
dfSeasonGroupDOWFactorsMinMax = dfSeasonGroupDOWFactorsMax.append(dfSeasonGroupDOWFactorsMin, ignore_index=True)
dfSeasonGroupDOWFactorsMinMax

,STATIONGROUP,SEASONGROUP,YEARGROUP,DOWMAXMINGROUP,MAXMIN,MINMAXDOWFACTOR
0,301,Year,2013,FAC_WEMAX,max,1.133317
1,301,Year,2013-2017,FAC_WEMAX,max,1.137344
2,301,Year,2014,FAC_WEMAX,max,1.143866
3,301,Year,2015,FAC_WEMAX,max,1.142245
4,301,Year,2015-2019,FAC_WEMAX,max,1.135362
...,...,...,...,...,...,...
1658,WDK,Year,2015-2019,FAC_WEMAX,max,1.166837
1659,WDK,Year,2016,FAC_WEMAX,max,1.168849
1660,WDK,Year,2018,FAC_WEMAX,max,1.161464
1661,WDK,Year,2019,FAC_WEMAX,max,1.162774
1662,WDK,Year,All Years,FAC_WEMAX,max,1.168025

In [292]:
dfSeasonGroupDOWFactorsMinMax_pivot = pd.pivot(dfSeasonGroupDOWFactorsMinMax, values='MINMAXDOWFACTOR', columns=['DOWMAXMINGROUP'], index=(sStationGrpCol,sYearGrpCol))
dfSeasonGroupDOWFactorsMinMax_pivot.reset_index(inplace=True)
dfSeasonGroupDOWFactorsMinMax_pivot

DOWMAXMINGROUP STATIONGROUP  YEARGROUP  FAC_WEMAX
0                       301       2013   1.133317
1                       301  2013-2017   1.137344
2                       301       2014   1.143866
3                       301       2015   1.142245
4                       301  2015-2019   1.135362
...                     ...        ...        ...
1658                    WDK  2015-2019   1.166837
1659                    WDK       2016   1.168849
1660                    WDK       2018   1.161464
1661                    WDK       2019   1.162774
1662                    WDK  All Years   1.168025

[1663 rows x 3 columns]

# Combine Pivots

In [296]:
dfCombined = pd.DataFrame.merge(dfSeasonFactors_pivot,dfMaxMonthFactorMo,on=(sStationGrpCol,sYearGrpCol))
dfCombined = pd.DataFrame.merge(dfCombined,dfSeasonGroupDOWFactors_pivot,on=(sStationGrpCol,sYearGrpCol))
dfCombined = pd.DataFrame.merge(dfCombined,dfSeasonGroupDOWFactorsMinMax_pivot,on=(sStationGrpCol,sYearGrpCol))
dfCombined

,STATIONGROUP,YEARGROUP,FAC_APR,FAC_AUG,FAC_DEC,FAC_FAL,FAC_FEB,FAC_JAN,FAC_JUL,FAC_JUN,...,FAC_WDAVG,FAC_WEAVG,FAC_FRI,FAC_MON,FAC_SAT,FAC_SUN,FAC_THU,FAC_TUE,FAC_WED,FAC_WEMAX
0,301,2013,0.856609,1.247890,0.943734,1.021841,0.913696,0.905472,1.235822,1.006390,...,0.999135,1.001153,1.133317,0.969939,1.028685,0.841457,1.039224,0.971846,1.015532,1.133317
1,301,2013-2017,0.879362,1.170627,0.941946,0.982606,0.940872,0.952858,1.185596,1.088360,...,1.003225,0.995701,1.137344,0.956685,1.022562,0.827195,1.050988,0.985336,1.019889,1.137344
2,301,2014,0.895640,1.154043,0.929456,0.957901,0.949760,0.985614,1.162994,1.112795,...,1.002195,0.997074,1.143866,0.958225,1.038396,0.808959,1.052698,0.984078,1.013778,1.143866
3,301,2015,0.857640,1.163069,0.962133,0.998845,0.925355,0.939451,1.184390,1.112329,...,0.999633,1.000489,1.142245,0.950241,1.027460,0.831763,1.059724,0.976009,1.012558,1.142245
4,301,2015-2019,0.921711,1.211785,0.792184,0.896728,0.983162,1.007237,1.241566,1.162355,...,1.005531,0.992626,1.135362,0.958380,1.011826,0.830689,1.055705,0.985244,1.022794,1.135362
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1658,WDK,2015-2019,0.944029,1.166454,0.795170,0.912065,0.946177,0.963394,1.256597,1.190615,...,1.012283,0.983623,1.166837,0.975893,1.017045,0.766987,1.053323,1.002990,1.016924,1.166837
1659,WDK,2016,0.892163,1.164160,0.946791,0.999277,0.927926,0.907464,1.165954,1.107966,...,1.009584,0.987222,1.168849,0.960808,1.027354,0.765462,1.051092,1.004077,1.022357,1.168849
1660,WDK,2018,1.022353,1.321503,0.535631,0.762529,1.000721,1.030067,1.341050,1.291971,...,1.014701,0.980398,1.161464,0.985875,1.010341,0.769389,1.047983,1.000742,1.024206,1.161464
1661,WDK,2019,0.907910,0.904647,0.985203,1.005462,0.908734,0.952751,1.251036,1.143054,...,1.019225,0.974367,1.162774,0.990374,1.005617,0.754710,1.059386,1.021726,1.005412,1.162774
1662,WDK,All Years,0.936669,1.169865,0.819393,0.922790,0.937600,0.958117,1.245513,1.180493,...,1.010470,0.986040,1.168025,0.973949,1.022459,0.767637,1.052339,1.000542,1.015049,1.168025